<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">
    Previous
  </a>
  {% endif %}
  <ul class="pagination-list">
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    
    {% if page_obj.has_previous %}
    <li>
      <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link" aria-label="Goto page {{ page_obj.previous_page_number }}">
        {{ page_obj.previous_page_number }}
      </a>
    </li>
    {% endif %}
    
    <li>
      <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">{{ page_obj.number }}</a>
    </li>
    
    {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}" class="pagination-link" aria-label="Goto page {{ lists.next_page_number }}">
        {{ page_obj.next_page_number }}
      </a>
    </li>
    {% endif %}
    
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>

  </ul>
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">
    Next
  </a>
  {% endif %}
</nav>