{% extends 'base.html' %}

{% block title %}User: {{ user }}{% endblock %}

{% block content %}
<div class="container">
	{% include 'includes/navbar.html' %}
</div>
<section class="section">
	<div class="container">
    <ul>
    {% for link in links %}
      <li class="item">
        <p class="col">
          <a  class='col-1' 
          {% if user.is_authenticated %}
          href="{% url 'post:vote' link.id %}?next={{ request.path }}"
          {% endif %}>
            <span class="icon is-small is-left">
              <i class="fas fa-angle-up"></i>
            </span> 
          </a>
          
          <a class="col-2" href="{{ link.content }}">{{ link }}</a>
        </p>
        <p class="col">
          <span class='col-1 col-1-bottom'>{{ link.score }}</span>
          <small class='col-2'>
            Added {{ link.added_time | timesince }} ago
            <em>on</em> <a href="{% url 'post:site' link.site %}">{{ link.site }}</a>
          </small>
        </p>
      </li>
    {% endfor %}
    </ul>
</section>


{% if links.paginator.num_pages > 1 %}
<section class="section">
<div class="container">
	{% include 'includes/links-pagination.html' %}
</div>
</section>
{% endif %}
{% endblock %}